anyblock_exporter @ git+https://github.com/marph91/AnyBlock-To-Markdown.git@minimal-module-setup
beautifulsoup4==4.12.3
cryptography==43.0.3
enlighten==1.12.4
markdown==3.7
platformdirs==4.3.6
puremagic==1.28
pypandoc_binary==1.14
pyparsing==3.2.0
python-frontmatter==1.1.0
# pytodotxt==1.5.0
pyyaml==6.0.2
rich==13.9.2
# stage-left==0.2.2
