mkdocs-git-revision-date-localized-plugin==1.5.1
# revert to mkdocs==1.5.3 (mkdocs-material==9.5.18) until https://github.com/mkdocs/mkdocs/issues/3710 is resolved
mkdocs-material==9.5.18
mkdocs-open-in-new-tab==1.0.8
