name: docs

on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - .github/workflows/docs.yml
      - mkdocs.yml
      - requirements/requirements-docs.txt
  workflow_dispatch:

permissions:
  contents: write

jobs:
  container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          # https://github.com/timvink/mkdocs-git-revision-date-localized-plugin?tab=readme-ov-file#note-when-using-build-systems-like-github-actions
          fetch-depth: 0
          sparse-checkout: |
            docs
            requirements
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.0"
          cache: "pip"
          cache-dependency-path: "requirements/requirements*.txt"
      - name: Install pip dependencies
        run: pip install -r requirements/requirements-docs.txt
      # TODO: remove temporary workaround
      - name: Fix mkdocs URLs
        run: pip install --force-reinstall "click<8.2.2"
      - name: Deploy site
        run: mkdocs gh-deploy --force
