name: lint

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: "pip"
          cache-dependency-path: "requirements/requirements*.txt"
      - name: Install pip dependencies
        run: pip install -r requirements/requirements-dev.txt
      - name: Run linting
        run: ./lint.sh
